#gallery-container {
    max-height: 100vh;
}

#gallery-container #loading-container {
    width: 85vw;
    height: 82vh;

    background-color: #f4f4f4;

    transition: 400ms;
}

#gallery-container #content {
    display: flex;

    width: 100%;
    height: 100%;

    margin-top: 2rem;
}

#gallery-container #content #categories {
    height: 100%;
    min-width: 15%;

    padding: 0rem 2rem;
}

#gallery-container #content #categories button {
    width: 100%;

    padding: 1.5rem;
    
    margin-bottom: 0.6rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#gallery-container #content #categories .category:hover {
    color: #FFF;
    background-color: #0e00d6;
}

#gallery-container #content #feed {
    width: 85%;
    height: 100%;
}

#gallery-container #content .grid {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0.6rem;

    list-style: none;
}

#gallery-container #content .grid .card {
    width: 13rem;
    height: 16rem;

    margin-bottom: 2rem;

    padding: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    cursor: pointer;

    border: 1px solid rgba(0,0,0,0.125);

    transition: 400ms;
}

#gallery-container #content .grid .card:hover {
    opacity: 0.75;
}

#gallery-container #content .grid .card .image {
    width: 11rem;
    height: 10rem;
}

#gallery-container #content .grid .card .image img {
    width: 100%;
    height: 10rem;

    object-fit: cover;
}

#gallery-container #content .grid .card .item {
    font-size: 1.2rem;
    font-weight: 500;

    margin-bottom: 0;
    margin-top: 0.5rem;
}

#gallery-container #content .grid .card .price {
    font-size: 1rem;

    margin-top: 0.1rem;
}