#gallery-container {
    max-height: 100vh;
}

#gallery-container #loading-container {
    position: absolute;

    width: 85vw;
    height: 82vh;

    left: 15vw;

    background-color: #f4f4f4;

    transition: 400ms;
}

#gallery-container section {
    background-color: #e0e0e0;
    
    width: 100%;
    height: 0px;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    visibility: visible;

    transition: 200ms;
}

#gallery-container section.hidden,
#gallery-container section.hidden input {
    height: 0px;

    visibility: hidden;

    margin: 0;
}

#gallery-container section input {
    width: 50%;

    padding: 10px;
    border: none;
    border-radius: 8px;

    font-size: 16px;
    font-weight: 400;

    background-color: #c0c0c0;
}

#gallery-container #content {
    display: flex;

    width: 100%;
    height: 100%;
}

#gallery-container #content #categories {
    height: 100%;
    min-width: 15%;

    padding: 0px 30px;
}

#gallery-container #content #categories .category {
    width: 100%;

    padding: 20px;

    background-color: #e8e8e8;

    border: none;
    border-radius: 10px;
    
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: 400ms;

    cursor: pointer;
}

#gallery-container #content #categories .category:hover {
    color: #FFF;
    background-color: #0e00d6;
}

#gallery-container #content #categories .category img {
    height: 40px;
    margin-left: 5px;
}

#gallery-container #content #feed {
    width: 85%;
    height: 100%;
}

#gallery-container #content .grid {
    width: 100%;
    height: 250px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 15px;

    list-style: none;
}

#gallery-container #content .grid .card {
    width: 180px;
    height: 250px;

    margin-bottom: 15px;

    border-radius: 10px;

    background-color: #e8e8e8;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    cursor: pointer;

    transition: 400ms;
}

#gallery-container #content .grid .card:hover {
    opacity: 0.75;
}

#gallery-container #content .grid .card .image {
    width: 150px;
    height: 165px;
}

#gallery-container #content .grid .card .image img {
    width: 150px;
    height: 165px;

    object-fit: cover;

    border-radius: 7px;
}

#gallery-container #content .grid .card .item {
    font-size: 18px;
    font-weight: 400;

    margin-top: 5px;
}

#gallery-container #content .grid .card .price {
    font-size: 18px;
    font-weight: 500;

    margin-top: 3px;
}