#checkout-container {
    height: 100vh;
    overflow: hidden;
}

#checkout-container header {
    text-align: center;

    padding: 30px;
}

#checkout-container header #logo {
    max-height: 2.5rem;
}

#checkout-container header .cancel a {
    color: #FFF;
}

#checkout-container section.body {
    width: 100%;
    height: 82vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#checkout-container section.body h1 {
    margin-bottom: 2rem;
}

#checkout-container section.body .checkout {
    width: 60%;

    border: 1px solid rgba(0,0,0,0.125);

    background-color: #e9e9e9;

    padding: 2rem;
}