#cart-container {
    height: 100vh;
}

#cart-container #content {
    width: 100%;
    height: 82vh;

    padding: 0px 30px 30px;

    display: flex;
    flex-direction: column;
}

#cart-container #content #items {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    background-color: #e8e8e8;

    padding: 20px;
}

#cart-container #content #items ul {
    list-style: none;
}

#cart-container #items ul .item {
    width: 100%;
    height: 150px;

    border-top: 1px dashed #C4C4C4;
    border-bottom: 1px dashed #C4C4C4;

    background-color: #f8f8f8;

    display: flex;
    justify-content: space-between;

    padding: 15px;
}

#cart-container #items ul .item .info {
    display: flex;
}

#cart-container #items ul .item img {
    width: 120px;
    height: 120px;

    object-fit: cover;

    margin-right: 15px;
}

#cart-container #items ul .item .descricao {
    margin-top: 15px;

    font-size: 20px;
    font-weight: 400;
}

#cart-container #items ul .item .info .detail {
    margin-top: 3px;

    font-size: 16px;
    font-weight: 400;
}

#cart-container #items ul .item .quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#cart-container #items ul .item .quantity button {
    border: none;
    border-radius: 5px;

    cursor: pointer;

    width: 20px;

    color: #FF0000;

    transition: 400ms;
}

#cart-container #items ul .item .quantity button:hover {
    color: #FFF;
    background-color: #FF0000;
}

#cart-container #items ul .item .value {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-top: 20px;
}

#cart-container #items ul .item .value .total-text {
    font-size: 16px;

    color: #FF0000;
}

#cart-container #items ul .item .value .total-value {
    margin: 0;
    
    color: #FF0000;
    font-weight: bold;
}

#cart-container .payment {
    margin-top: 30px;

    align-self: flex-end;
}

#cart-container .payment a {
    padding: 10px;

    background-color: #d5d5d5;

    cursor: pointer;

    border: none;
    border-radius: 7px;

    transition: 400ms;
}

#cart-container .payment a:hover {
    color: #FFF;
    background-color: #0e00d6;
}