@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    font: 500 30px Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;  
}

input, button, textarea {
    font: 500 18px Oswald, sans-serif;
    letter-spacing: 0.5px;
}

body {
    font: 500 18px Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #f4f4f4;
    letter-spacing: 0.5px;

    -ms-overflow-style: none;
}

a {
    color:#121212;
    text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
}