* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    font: 500 30px Oswald, sans-serif;
    -webkit-font-smoothing: antialiased;  
}

body {
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}
