.header {
    display: flex;
    justify-content: space-between;

    padding: 30px;
}

.header-container #logo {
    max-height: 3.5rem;

    margin-left: 5%;
}

.header-container div form a {
    padding: 1rem;
    margin-right: 0.3rem;
}

.header-container div button {
    padding: 1rem;
    /* background-color: #b0b0b0; */
}

/* .header-container div ul li a.nav-link {
    letter-spacing: 0.1px;
} */

/* .header #menus {
    display: flex;
    align-items: center;

    font-size: 18px;
    font-weight: 500;
}

.header #menus button {
    background-color: transparent;
    border: none;
}

.header .menu {
    cursor: pointer;
}

#actions {
    display: flex;
    align-items: center;
}

#actions .search {
    margin-right: 10px;
}

#actions .search .search-button {
    background: none;
    border: none;
}

#actions .search .search-button svg {
    cursor: pointer;
}

#actions input {
    border: none;

    background-color: transparent;

    font-size: 16px;
    font-weight: 300;

    min-width: 200px;

    margin-right: 7px;

    padding-left: 5px;
}

.menu {
    margin-right: 55px;
} */

